body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-button {
  padding: 10px;
  margin-right: 10px;
  margin-top: 40px;
  border: 1px solid;
  background: #dacc3e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
}

.about-button:hover,
.about-button:focus {
  box-shadow: inset 6.5em 0 0 0 #fff;
  background: #fff;
  border-color: #fff;
  color: #dacc3e;
}

.tech-icon {
  font-size: 70px;
  color: #000;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.tech-icon:hover {
  transition: 0.70s;
  color: #fff
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 50%;
}

.hero-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #dacc3e;
  padding: 75px 20px 75px 20px;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  font-family: "Roboto Mono", monospace;
  line-height: 150%;
  height: 100%!important;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.projects-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #d999b9;
  padding: 75px 20px 0px 20px;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  font-family: "Roboto Mono", monospace;
  line-height: 150%;
  height: 100%!important;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.resume-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #08605f;
  padding: 75px 20px 75px 20px;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  font-family: "Roboto Mono", monospace;
  line-height: 150%;
  height: calc(100% - 78px);
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

@media screen and (max-width: 680px) {
  .hero-container {
    max-width: 100%;
    height: calc(100vh - 53px);
  }

  .projects-container {
    max-width: 100%;
    height: calc(100vh - 50px);
  }

  .skills-container {
    max-width: 100%;
    height: calc(100vh - 50px);
  }

  .resume-container {
    max-width: 100%;
  }

  .project-center {
    max-width: 100% !important;
  }

  .project-center-image {
    display: block;
    margin-left: none;
    margin-right: none;
    width: 100%;
    max-width: 100% !important;
    height: auto;
  }

  .topnav {
    margin: auto;
    width: 100% !important;
  }

  .column {
    width: 100%;
  }
}

.project-center-image {
  display: block;
  margin-left: none;
  margin-right: none;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.project-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.project-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* NAVIGATION */

.topnav {
  background-color: #7fb7be;
  overflow: hidden;
  margin: auto;
  width: 50%;
}

.topnav span {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}

#projects-link:hover {
  background-color: #d999b9;
}

#resume-link:hover {
  background-color: #08605f;
}

#about-link:hover {
  background-color: #dacc3e;
}

.resume-headers {
  padding: 0px;
  margin: 0px;
}

.hero-header-animated {
  display: inline-block;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
