@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Roboto+Serif&display=swap");

/* GLOBAL STYLES */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
}

body > #root > div {
  height: 100vh;
}

h1,
p {
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.6;
}

.full-height {
  height: 100%;
  position: relative;
}

.half-height {
  height: 50vh !important;
  position: relative;
}

.grid-item {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  h1 {
    line-height: 1.2;
  }
}

/* HERO */

.hero-background {
  background: linear-gradient(-45deg, #9d44b5, #b5446e, #7bae7f, #0affed);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Mono", monospace;
  font-size: 3vw;
  color: #fff;
}

.about-button-position {
  padding-top: 100px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-button {
  width: 30vh;
  background: transparent;
  border: none;
  color: #ebebeb;
  font-size: 2.25rem;
  cursor: pointer;
  margin: 20px;
  animation: shake 2s;
  animation-iteration-count: 5;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(1px, 3px);
  }
  20% {
    transform: translate(1px, 0px);
  }
  30% {
    transform: translate(1px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(1px, 2px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  70% {
    transform: translate(1px, 0px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -1px);
  }
}

/* MENU */

.pause-button {
  position: absolute;
  right: 0px;
  padding: 10px;
  text-align: right;
  color: #ebebeb;
  font-size: 45px;
  z-index: 5;
  cursor: pointer;
}

@keyframes fadeInPlayPauseButtonAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.logo {
  mix-blend-mode: color-dodge;
  left: 0px;
  padding: 10px;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 5;
  font-size: 10vw;
}

.logo-bottom-right {
  position: absolute;
  mix-blend-mode: color-dodge;
  left: -30px;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  font-size: 10vw;
}

/* SKILLS */

.skills {
  background-color: #d999b9;
}

.skills-text {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Mono", monospace;
  font-size: 2vw;
  color: #fff;
}

#skills-icons {
  padding-top: 25px;
  animation: gradient 15s ease infinite;
}

#skills-header {
  background-image: linear-gradient(45deg, #7bae7f, #9d44b5);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.tech-icon {
  padding: 20px;
  position: relative;
  animation-name: side-to-side;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 6vw;
}

@media only screen and (max-width: 1024px) {
  .skills-text {
    font-size: 4vw;
    width: 80%;
  }

  .tech-icon {
    font-size: 10vw;
    animation-name: none;
  }

  @keyframes side-to-side {
    0% {
      left: 40%;
    }
    100% {
      left: 100%;
    }
  }
}

@keyframes side-to-side {
  0% {
    left: -130%;
  }
  100% {
    left: 150%;
  }
}

/* ABOUT ME */

.about-me-container {
  padding-left: 25%;
}

.about-me-text {
  font-size: 1.5rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Serif", serif;
  color: #b1436c;
  padding: 60px;
}

@media only screen and (max-width: 1024px) {
  .about-me-text {
    padding: 110px;
    font-size: 15px;
  }

  #about-box {
    padding: 50px;
  }
}

#about-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

#about-box::before,
#about-box::after,
#box::before,
#box::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 1s;
}

#about-box::before {
  top: -2px;
  left: -2px;
  border-top: 1px solid #b1436c;
  border-left: 1px solid #b1436c;
}
#about-box::after {
  top: -2px;
  right: -2px;
  border-top: 1px solid #b1436c;
  border-right: 1px solid #b1436c;
}

#box::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 1px solid #b1436c;
  border-left: 1px solid #b1436c;
}
#box::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 1px solid #b1436c;
  border-right: 1px solid #b1436c;
}

#about-box:hover::before,
#about-box:hover::after,
#about-box:hover #box::before,
#about-box:hover #box::after {
  width: calc(110% / 2);
  height: calc(110% / 2);
}

/* PROJECTS */

.projects-container {
  background: #607196;
  font-family: "Roboto Serif", serif;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.project > h1 {
  font-size: 4rem;
  font-family: "Roboto Mono", monospace;
  margin: 2rem 0rem;
}

.project {
  width: 70%;
  flex-flow: row wrap;
  padding: 3rem 0rem 1rem 0rem;
}

.project-tech-list {
  line-height: 2;
}

.project-button-container {
  padding: 1rem 2rem;
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.project-button {
  width: 30vh;
  background: transparent;
  padding: 1rem 2rem;
  border: 2px solid #ebebeb;
  color: #ebebeb;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  margin: 1rem;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.project-button:hover,
.project-button:focus {
  box-shadow: inset 14em 0 0 0 #1982c4;
  background: #1982c4;
  border-color: #ebebeb;
  color: #ebebeb;
}

/* LINKS */

.links-text {
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Mono", monospace;
  font-size: 1.75vw;
  color: #b1436c;
}

.link-button {
  width: 30vh;
  background: transparent;
  padding: 15px 25px 15px 25px;
  border: 2px solid #b1436c;
  color: #b1436c;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 20px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.link-button:hover,
.link-button:focus {
  box-shadow: inset 14em 0 0 0 #b1436c;
  background: #b1436c;
  border-color: #b1436c;
  color: #ebebeb;
}

@media only screen and (max-width: 1024px) {
  .links-text {
    font-size: 20px;
    width: 80%;
  }

  h1 {
    line-height: 1;
    padding-bottom: 15px;
  }

  .link-button {
    width: 16vh;
    padding: 2;
    font-size: 1.25rem;
    margin: 7px;
  }
}

/* Resume */

.resume {
  background-color: #7bae7f;
  text-align: center;
}

.resume-text {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Mono", monospace;
  font-size: 1.75vw;
  color: #ebebeb;
}

.resume-button-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume-button {
  width: 30vh;
  background: transparent;
  padding: 15px 25px 15px 25px;
  border: 2px solid #9d44b5;
  color: #9d44b5;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 20px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.resume-summary-button {
  background: transparent;
  border: none;
  color: #9d44b5;
  font-size: 3rem;
  cursor: pointer;
}

.resume-button:hover,
.resume-button:focus {
  box-shadow: inset 14em 0 0 0 #9d44b5;
  background: #9d44b5;
  border-color: #9d44b5;
  color: #ebebeb;
}

@media only screen and (max-width: 1024px) {
  .resume-summary-button {
    font-size: 25px;
    padding-top: 20px;
  }

  .resume-text {
    font-size: 4vw;
  }

  .resume-button-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .resume-button {
    width: 45vh;
    background: transparent;
    padding: 15px 25px 15px 25px;
    border: 2px solid #9d44b5;
    color: #9d44b5;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 20px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
  }
}
